body {
    background-color: #c7c7c7;
}
.container {
    background-color: #f8f8f8;
    padding: 20px 40px 20px 40px;
}
#header {
    background-color: #2c4d55;
    width: 100%;
    margin: 50px 0px 50px 0px;
}
.navbar-default {
    background-color: #5a5a5a;
    border-color: #4f4f4f;
}
.navbar-default .navbar-brand {
    color: #d0d0d0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fffdfd;
}
.navbar-default .navbar-text {
    color: #d0d0d0;
}
.navbar-default .navbar-nav > li > a {
    color: #d0d0d0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fffdfd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fffdfd;
    background-color: #4f4f4f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fffdfd;
    background-color: #4f4f4f;
}
.navbar-default .navbar-toggle {
    border-color: #4f4f4f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4f4f4f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d0d0d0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d0d0d0;
}
.navbar-default .navbar-link {
    color: #d0d0d0;
}
.navbar-default .navbar-link:hover {
    color: #fffdfd;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d0d0d0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fffdfd;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fffdfd;
        background-color: #4f4f4f;
    }
}
#scenarioAllHeader,
#scenarioInfoHeader,
#scenarioEditHeader,
#taskInfoHeader,
#taskEditHeader {
    padding: 0px 30px 30px 30px;
}
.angular-google-map-container {
    height: 400px;
}
.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}
.footer {
    background-color: #777777;
}

.bt-extra {
    margin: 10px 10px 10px 10px;
}