<div class="container">
    <div class="row" id="scenarioEditHeader">
        <div class="col-md-2 pull-right">
            <button ng-click="backButton()" class="btn btn-default">
                <small><span class="glyphicon glyphicon-backward"></span></small> Back to list
            </button>
        </div>

        <h1><small><span class="glyphicon glyphicon-plus"></span></small> Add</h1>
    </div>

    <div class="row">
        <form class="form form-horizontal" ng-submit="addScenarioSubmit()">
            <div class="form-group">
                <label class="col-md-2 control-label">ID</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Scenario Id"
                           ng-model="scenario.id" value="Will be created automaticly" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Scenario Title"
                           ng-model="scenario.title"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" placeholder="Scenario description"
                           ng-model="scenario.description"></textarea>
                </div>
            </div>

            <div class="form-group col-md-2 pull-right">
                <button type="submit" class="btn btn-success form-control">
                    <small><span class="glyphicon glyphicon-plus"></span></small> Add
                </button>
            </div>
        </form>
    </div>
</div>