<div class="container">
    <div class="row" id="scenarioAllHeader">
        <h1><small><span class="glyphicon glyphicon-list"></span></small> All Scenarios</h1>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">ID</th>
                <th class="col-md-3">Title</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-2">Options</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scenario in scenarios">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ scenario.id }}</td>
                    <td>{{ scenario.title }}</td>
                    <td>{{ scenario.description }}</td>
                    <td>
                        <a href="#scenario/edit/{{ scenario.id}}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a href="#scenario/info/{{ scenario.id}}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> More
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>L.P.</th>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Options</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>