<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button ng-click="backButton()" class="btn btn-default">
                <small><span class="glyphicon glyphicon-backward"></span></small> Back to list
            </button>
        </div>
        <div class="col-md-9"></div>
        <div class="col-md-1">
            <button ng-click="removeScenarioSubmit(scenario.id)" class="btn btn-danger">
                <small><span class="glyphicon glyphicon-remove"></span></small> Delete
            </button>
        </div>

    </div>
    <div class="row" id="scenarioEditHeader">
        <h1>
            <small><span class="glyphicon glyphicon-edit"></span></small> Edit Scenario
        </h1>

    </div>

    <div class="row">
        <form class="form form-horizontal" ng-submit="editScenarioSubmit()">
            <div class="form-group">
                <label class="col-md-2 control-label">ID</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Scenario Id"
                           ng-model="scenario.id" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Scenario Title"
                           ng-model="scenario.title"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" placeholder="Scenario description"
                           ng-model="scenario.description"></textarea>
                </div>
            </div>

            <div class="form-group col-md-2 pull-right">
                <button type="submit" class="btn btn-primary form-control">
                    <small><span class="glyphicon glyphicon-edit"></span></small> Edit
                </button>
            </div>
        </form>
    </div>

    <div class="row" id="scenarioEditTaskHeader">
        <h2>
            <small><span class="glyphicon glyphicon-list"></span></small> Tasks list
            <a href="#/task/add/{{scenario.id}}" class="btn btn-success btn-sm">
                <small><span class="glyphicon glyphicon-plus white" style="color: white;"></span></small> Create task
            </a>
        </h2>

    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-2">Title</th>
                <th class="col-md-2">Coordinates</th>
                <th class="col-md-2">Question</th>
                <th class="col-md-2">Answer</th>
                <th class="col-md-2">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>[{{ task.coordinates.latitude }}, {{ task.coordinates.longitude }}]</td>
                <td>{{ task.question }}</td>
                <td>{{ task.answer }}</td>
                <td>
                    <a ng-click="deleteTask($index)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </a>
                    <a href="#task/info/{{ scenario.id }}/{{ task.id }}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> More
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-2">Title</th>
                <th class="col-md-2">Coordinates</th>
                <th class="col-md-2">Question</th>
                <th class="col-md-2">Answer</th>
                <th class="col-md-2">Options</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-2 pull-right">
        <button ng-click="editScenarioTasksSubmit()" class="btn btn-primary form-control">
            <small><span class="glyphicon glyphicon-edit"></span></small> Edit tasks list
        </button>
    </div>
</div>