<div class="container">
    <div class="row">
        <button ng-click="backButton()" class="btn btn-default">
            <small><span class="glyphicon glyphicon-backward"></span></small> Back to list
        </button>
    </div>
    <div class="row" id="scenarioInfoHeader">
        <h1><small><span class="glyphicon glyphicon-info-sign"></span></small> Info: {{ scenario.title }}</h1>
    </div>

    <table class="table table-striped table-responsive">
        <tbody>
        <tr>
            <td class="col-md-3"><b>ID</b></td>
            <td class="col-md-9">{{ scenario.id }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Title</b></td>
            <td class="col-md-9">{{ scenario.title }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Description</b></td>
            <td class="col-md-9">{{ scenario.description }}</td>
        </tr>
        </tbody>
    </table>

    <div class="col-md-2 pull-right">
        <a href="#scenario/edit/{{ scenario.id}}" class="btn btn-primary form-control">
            <small><span class="glyphicon glyphicon-edit"></span></small> Edit
        </a>
    </div>

    <div class="row" id="scenarioEditTaskHeader">
        <h3><small><span class="glyphicon glyphicon-list"></span></small> Tasks list</h3>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-3">Title</th>
                <th class="col-md-2">Coordinates</th>
                <th class="col-md-2">Question</th>
                <th class="col-md-2">Answer</th>
                <th class="col-md-1">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>[ {{ task.coordinates.latitude }}, {{ task.coordinates.longitude }} ]</td>
                <td>{{ task.question }}</td>
                <td>{{ task.answer }}</td>
                <td>
                    <a href="#task/info/{{ scenario.id }}/{{ task.id }}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> More
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="col-md-2">ID</th>
                <th class="col-md-3">Title</th>
                <th class="col-md-2">Coordinates</th>
                <th class="col-md-2">Question</th>
                <th class="col-md-2">Answer</th>
                <th class="col-md-1">Options</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>