<div class="container">
    <h1>The Walking Game...</h1>

    <p>
        ...czyli multimedialna gra miejsca, która zmusi nawet największego leniwca do wysiłku!
        <br /><br />
        Lubisz aktywnie spędzać czas ? Pranki i dowcipy wśród twoich znajomych to nic nowego ? Świetnie ! Ta gra jest właśnie dla Ciebie !
        W prosty sposób za pomocą Panelu administracyjnego, będziesz mógł utworzyć swój własny scenariusz składający się z szerego zagadek.
        Ciekawe czy twoi znajomi wszystkie je rozwiążą !
    </p>
</div>
