<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">Copyright &copy; by UUID Team</div>
            <div class="col-md-6"></div>
            <div class="col-md-3">Stworzone przez najlepszych programistów na świecie :)</div>
        </div>
    </div>
</footer>