<div ng-controller="headerController" id="header">
    <div class="row" id="headerMainMenu">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerMainMenuCollapsed" aria-expanded="false">
                        <span class="sr-only">Rozwin menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">The walking game</a>
                </div>

                <div class="collapse navbar-collapse" id="headerMainMenuCollapsed">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Main Page</a></li>
                        <li class="dropdown" uib-dropdown keyboard-nav dropdown-append-to="appendToEl">
                            <a href="" class="dropdown-toggle" id="btn-append-to" uib-dropdown-toggle>
                                Scenarios <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li><a href="#scenario/all/{{userId}}">Show all</a></li>
                                <li><a href="#scenario/add">Create new...</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="text-center">
        <img src="../img/walking_game_logo.png" border="0" alt="" />
    </div>
</div>
