<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button ng-click="backButton()" class="btn btn-default">
                <small><span class="glyphicon glyphicon-backward"></span></small> Back to info mode
            </button>
        </div>
    </div>
    <div class="row" id="scenarioEditHeader">
        <h1><small><span class="glyphicon glyphicon-edit"></span></small> Edit</h1>
    </div>

    <div class="row">
        <form class="form form-horizontal" ng-submit="editTaskSubmit()">
            <div class="form-group">
                <label class="col-md-2 control-label">ID</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Task ID"
                           ng-model="task.id" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Scenario ID"
                           ng-model="task.title"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <textarea type="text" class="form-control" placeholder="Task description"
                              ng-model="task.description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Question</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Task question"
                              ng-model="task.question" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Answer</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Task answer"
                              ng-model="task.answer" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Coordinates</label>
                <div class="col-md-10">
                    [{{task.coordinates.latitude}} , {{task.coordinates.longitude}}]
                </div>
            </div>

            <div class="row">
                <div id="map_canvas">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                        <ui-gmap-marker coords="marker.coords" options="marker.options"
                                        events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>

            <div class="form-group col-md-2 pull-right">
                <button type="submit" class="btn btn-primary form-control bt-extra">
                    <small><span class="glyphicon glyphicon-edit"></span></small> Edit Task
                </button>
            </div>
        </form>
    </div>


</div>