<div class="container">
    <div class="row">
        <button ng-click="backButton()" class="btn btn-default">
            <small><span class="glyphicon glyphicon-backward"></span></small> Back to list
        </button>
    <div class="row" id="taskInfoHeader">
        <h1><small><span class="glyphicon glyphicon-info-sign"></span></small> Info: {{ task.title }}</h1>
    </div>

    <table class="table table-striped table-responsive">
        <tbody>
        <tr>
            <td class="col-md-3"><b>ID</b></td>
            <td class="col-md-9">{{ task.id }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Title</b></td>
            <td class="col-md-9">{{ task.title }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Description</b></td>
            <td class="col-md-9">{{ task.description }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Question</b></td>
            <td class="col-md-9">{{ task.question }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Answer</b></td>
            <td class="col-md-9">{{ task.answer }}</td>
        </tr>
        <tr>
            <td class="col-md-3"><b>Location</b></td>
            <td class="col-md-9">[{{ task.coordinates.latitude }}, {{ task.coordinates.longitude }}]</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="#/task/edit/{{ scenarioId }}/{{ taskOrder }}" class="btn btn-primary pull-right bt-extra">
            <small><span class="glyphicon glyphicon-edit"></span></small> Go to Edit mode
        </a>
    </div>

    <div class="row">
        <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options"
                                events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>

</div>